.headerOuterContainer {
  background-color: lightgray;
  width: 100vw;
  padding: 15px;
  box-sizing: border-box;
}

.headerContainer {
  max-width: 1280px;
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 360px) {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 15px;
    }
  }
}

.navContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;

  a {
    font-weight: bold;
  }
}